<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>服务与支持</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="来福魔方，电子猫眼快递箱，智能收发快递柜，智能防盗，快递签收">
    <meta name="description" content="来福魔方家庭智能快递柜，集快递收发与电子猫眼等其他功能为一体，为解决亿万家庭的快递送货上门及家庭安全问题而生。">
    <link rel="stylesheet" href="/font/iconfont.css">
    <link rel="stylesheet" href="/js/plugin/layer/theme/default/layer.css">
    <link rel="stylesheet" href="/css/build/index.css?v=2.0.1">
</head>
<body>
<!--header-->
<div class="header clearfix" id="header"></div>
<div class="guide-sub">
    <div class="guide-wrap container">
        <div class="guide-sub-left">
            <ul id="menu">
                <li><a href="javascript:void(0);" data-type="1" class="active">常见问题</a></li>
                <li><a href="javascript:void(0);" data-type="2">购买帮助</a></li>
                <li><a href="javascript:void(0);" data-type="3">账号管理</a></li>
                <li><a href="javascript:void(0);" data-type="4">支付方式与发票</a></li>
                <li><a href="javascript:void(0);" data-type="5">订单帮助</a></li>
                <li><a href="javascript:void(0);" data-type="6">物流与发货</a></li>
                <li><a href="javascript:void(0);" data-type="7">退换货政策</a></li>
            </ul>
        </div>
        <div class="guide-sub-right" id="content">
            <ul class="list" data-type="1">
                <li>
                    <a href="#">1. 来福魔方箱体容量</a>
                    <div class="text">
                        来福魔方采用三层伸缩式设计，箱体尺寸：540mm * 450mm *（155~350）mm。箱体全部拉开后容量58L，称重：15KG。
                    </div>
                </li>
                <li>
                    <a href="#">2. 来福魔方如何安装？</a>
                    <div class="text">
                        来福魔方采用便捷的安装方式，可以根据我们提供的安装视频进行操作，点击 <a style="color: #0d999c;" href="/views/guide/install-door.html">观看视频</a>。来福魔方配合手机APP使用
                    </div>
                </li>
                <li>
                    <a href="#">3. 产品安装之后如何使用</a>
                    <div class="text">
                        下载来福魔方APP，注册来福魔方账号或第三方平台（QQ、微信）登录，登录之后扫描箱门上的二维码，即可激活产品开始使用。感谢您的关注和支持
                    </div>
                </li>
                <li>
                    <a href="#">4. 怎么绑定来福魔方设备</a>
                    <div class="text">
                        您可以按照以下步骤对来福魔方进行绑定： <br>
                        1）打开来福魔方APP，注册并登录；<br>
                        2）IOS系统绑定设备，点击“添加设备”，填写设备编号（设备编号在二维码下方）<br>
                        3）测试开锁，点击开锁按钮，测试设备能否正常开锁；<br>
                        4）链接WIFI，测试摄像头能否正常使用；<br>
                        5）安卓端扫描说明书二维码，根据提示操作。<br>
                        感谢您的关注和支持。
                    </div>
                </li>
                <li>
                    <a href="#">5. 来福魔方设备如何设置或更改WIFI连接？</a>
                    <div class="text">
                        绑定设备：登录来福魔方APP，打开“锁”界面，点击“绑定设备”，扫描设备上的二维码，填写设备绑定信息。并完成绑定。<br>
                        配备WIFI：登录来福魔方APP，打开“锁”界面，点击左上角“智能监控”，填写WIFI信息，并进行WIFI配置。
                    </div>
                </li>
                <li>
                    <a href="#">6. 来福魔方提示开锁失败怎么办？</a>
                    <div class="text">
                        首先，请您按照以下几个方法进行检测：<br>
                        1、检查门是否被阻挡或卡住；<br>
                        2、检查门是否已经在开启状态；<br>
                        3、通过APP检查系统电量是否充足，如果低于20%，可在电池充电后在测试；<br>
                        4、如果无法检查电量，观察3号指示灯是否每隔10秒闪烁，如不闪烁，请联系维修<br>
                        5、如果2号指示灯在常亮状态，设备无法注册到IoT网络，排除卡片、费用问题后请联系厂家检测该区域是否覆盖网络。
                    </div>
                </li>
                <li>
                    <a href="#">7. 来福魔方设备电池耗电量过快</a>
                    <div class="text">
                        如果电池耗电量太快，可以先按照以下操作方式进行检查：<br>
                        1、检查一下是否长时间连接摄像头，导致系统耗电过快。<br>
                        2、检查充电时电池有没有充满电。<br>
                        如果以上两项都不是导致电池耗电太快的原因，请您联系400-063-6658进行保修。
                    </div>
                </li>
            </ul>
            <ul class="list hide" data-type="2">
                <li>
                    <a href="#">1. 如何注册来福魔方账户</a>
                    <div class="text">
                        1) 进入来福魔方官方网站www.laifumofang.com <br>
                        2) 填写客户信息并点击注册
                    </div>
                </li>
                <li>
                    <a href="#">2. 如何进行购买？</a>
                    <div class="text">
                        1) 选择商品，加入购物车<br>
                        2) 结算<br>
                        3) 填写收货信息和支付信息等内容并提交订单<br>
                        4) 按照网页指示付款
                    </div>
                </li>
                <li>
                    <a href="#">3. 可以拨打客服热线订购商品吗？</a>
                    <div class="text">
                        暂不提供电话订购服务，请您登陆注册后自助下单。<br>
                        详情请点击查看如何进行购买
                    </div>
                </li>
            </ul>
            <ul class="list hide" data-type="3">
                <li>
                    <a href="#">1. 如何注册来福魔方账号？</a>
                    <div class="text">
                        进入来福魔方官方网站www.laifumofang.com，点击右上角“注册”按钮，根据要求填写“邮箱”，“用户名”，“密码”和“确认密码”等信息。请确保您输入了正确有效的邮箱地址，并保存好注册密码。
                    </div>
                </li>
                <li>
                    <a href="#">2. 如何更改账号？</a>
                    <div class="text">
                        请您在注册时注意使用正确有效的手机号。来福魔方账号注册后无法更改。建议您重新注册手机号账号。
                    </div>
                </li>
            </ul>
            <ul class="list hide" data-type="4">
                <li>
                    <a href="#">1. 支付方式</a>
                    <div class="text">
                        中国大陆地区，大疆商城支持以下支付方式：- 支付宝 - 微信扫码支付 - 银联支付等支付方式
                    </div>
                </li>
                <li>
                    <a href="#">2. 网银支付有限额吗？</a>
                    <div class="text">
                        为了保证在线支付的安全性，银行会根据各个商户、消费者情况的不一致进行支付金额限制，由于各银行的限额标准并不完全一致，并且会随国家政策进行调整，请您在办理网上银行时问明限额标准，或者拨打银行热线电话进行咨询。
                    </div>
                </li>
                <li>
                    <a href="#">3. 已支付却显示订单未支付怎么办？</a>
                    <div class="text">
                        第三方支付平台或银行对支付的确认可能延迟，致使来福魔方官网商城后台支付状态的更新有延迟，建议稍晚查看支付状态。如确认已经支付，请发送相关支付证明给客服核查。联系方式如下：客服热线：400-063-6658。
                    </div>
                </li>
                <li>
                    <a href="#">4. 如何开具发票</a>
                    <div class="text">
                        如您需要开具增值税专用发票，请您将订单号和开票信息的word版本发送到 laifumofang@163.com。我们会有专人处理。
                        开票信息包括但不限于抬头，税号，开户行，银行账户，公司地址，联系人，联系方式等信息。
                    </div>
                </li>
            </ul>
            <ul class="list hide" data-type="5">
                <li>
                    <a href="#">1. 如何查询订单状态？</a>
                    <div class="text">
                        1) 客户可以登录自己的来福魔方账户查询 <br>
                        2) 联系客服查询<br>
                        电话：400-063-6658 <br>
                        邮件：laifumofang@163.com
                    </div>
                </li>
                <li>
                    <a href="#">2. 如何修改订单？</a>
                    <div class="text">
                        订单提交后（发货前），需提供有效证明(来福魔方账号，产品信息，收件人信息及付款证明等)，证明您是购买者本人后，客服可为您修改收件人信息和收货地址。但产品数量，种类，颜色都无法修改。如需修改已购买的货品，请先取消订单，再重新下单购买
                    </div>
                </li>
                <li>
                    <a href="#">3. 已支付却显示订单未支付怎么办？</a>
                    <div class="text">
                        第三方支付平台或银行对支付的确认可能延迟，致使来福魔方官网商城后台支付状态的更新有延迟，建议稍晚查看支付状态。如确认已经支付，请发送相关支付证明给客服核查。联系方式如下：客服热线：400-063-6658。
                    </div>
                </li>
                <li>
                    <a href="#">3. 如何取消订单</a>
                    <div class="text">
                        1）如果您的订单未支付或尚未发货，您可以登录DJI账号，在“我的订单”页面点击订单右上角的按钮取消。<br>
                        2) 如果您的订单已发货，订单无法取消，请联系客服申请退货。<br>
                        电话：400-063-6658 <br>
                        邮件：laifumofang@163.com
                    </div>
                </li>
                <li>
                    <a href="#">4. 订单跟踪</a>
                    <div class="text">
                        订单发货后，您将收到一封包含运单号的通知邮件及短信（可在下单时勾选短信通知）。由于快递单号系统传送的延迟，可能在发货后一到两天才能查到运单号。收到后请到快递公司官网查询，或者您可以联系我们的客服查询订单状态。
                    </div>
                </li>
                <li>
                    <a href="#">5. 如何拆分订单？</a>
                    <div class="text">
                        不同产品的预计发货时间可能不同，来福魔方商城默认不会拆分订单发货，如果您对到货时间有要求，建议您分次下单。每个产品的预计出货时间请参考产品购买页面
                    </div>
                </li>
            </ul>
            <ul class="list hide" data-type="6">
                <li>
                    <a href="#">1. 配送服务</a>
                    <div class="text">
                        中国大陆地区，我们会根据你的地址选择物流公司，暂时不支持空运服务。<br>
                        运费说明:<br>
                        1) 官网购买来福魔方产品为包邮，<br>
                        2) 不满足包邮条件的，在结算订单时运费会出现在填写地址页面。
                    </div>
                </li>
                <li>
                    <a href="#">2. 发货前用户须知</a>
                    <div class="text">
                        如果您对发货有任何特别要求，请一定提前联系我们的售前客服进行咨询。<br>
                        请您在付款前核对收货信息,如因个人疏忽填错地址，请及时与客服联系，我们会尽量为您联系快递协商处理，但因地址修改而产生的风险和费用需要由客户承担。<br>
                        下单时请准确填写您的真实姓名、送货地址及有效联系方式；便于我们及时安排派送。<br>

                        因以下原因导致延误或退回的，大疆将不承担责任：<br>
                        1) 部份城市的偏远地区因交通等问题，配送时间可能在预计到达时间基础上延后1-2天;<br>
                        2) 因买家原因（更改收货地址、地址不详、地址错误、联系不上、拒收、无代收人等）导致包裹延误派送或无法送达的;<br>
                        3)
                        因不可抗力造成延误的（“不可抗力”指不可预见、不可避免或不可克服的客观情况以及其他影响配送时间、造成包裹配送延误的客观情况，包括但不限于全国性或区域性空中或地面交通系统管制或中断（如天气原因等）、或通讯系统干扰或故障、或政府行为、邮政主管部门政策变化、战争、地震、台风、洪水、火灾、大雨、大雾等其他类似事件）<br>
                        4) 航空违禁品、手机、电子类产品、易碎品等因航空安检查验导致无法正常配载航班或改走陆路运输的;<br>
                        5) 寄递物品违反禁、限寄规定或有关运输管理条例，经有关部门没收或依照有关法规、规定处理的;<br>
                        5) 收件人地址为机关、单位等机构，而周六、周日和公众节假日不接收邮件、包裹，造成延误的;<br>
                        7) 收件人学校、单位或住宅小区不允许投递人员入内，或买家代收方原因，导致造成延误的。
                    </div>
                </li>
                <li>
                    <a href="#">3. 发货时间与规则</a>
                    <div class="text">
                        订单发货后，您将收到一封包含运单号的通知邮件及短信（可在下单时勾选短信通知）。由于快递单号系统传送的延迟，可能在发货后一到两天才能查到运单号。收到后请到快递公司官网查询，或者您可以联系我们的客服查询订单状态。
                    </div>
                </li>
                <li>
                    <a href="#">4. 订单跟踪</a>
                    <div class="text">
                        不同产品有着不同的发货时间，具体请参考购买产品时页面显示的预计发货时间。<br>
                        请注意，若您同一个订单中包含多件商品，订单的预计发货时间取决于订单中预计发货时间最长的商品，我司不会拆分多个订单分别发出。套装产品处理方式与多件商品订单相同，不会拆分发货。<br>
                        对于预售的产品，官方商城无法承诺将满足所有已在页面确认的订单。官方商城保留拒绝、取消订单和在特定订单中灵活处理产品供给数量的权利。但如有这种情况发生，我们会及时通知到您
                    </div>
                </li>
                <li>
                    <a href="#">5. 订单验货与签收</a>
                    <div class="text">
                        请您务必在收到商品时进行验货；如果发现邮寄包装破损、货物在运输途中破损等情况，请当场指出并拒收，拒收后请致电官方商城客服。<br>
                        请您在收到货物时当场仔细检查发票及货品与送货单的商品是否一致，如果发现商品缺少或已破损等情况，请当场（即配送人员还在现场时）与官方商城客服联系。<br>
                        如您已签收或他人代为签收，则视为商品外包装，商品数量及内容无误。为保证您的权益，我们极力推荐您拍摄完整的开箱视频。<br>
                        来福魔方产品性质特殊，不允许试用，激活即视为使用，影响该商品的二次销售；试用后退货将产生额外费用。<br>
                        所有订单收货异常，请您务必在收货5天内与我们进行联系。
                    </div>
                </li>
            </ul>
            <ul class="list hide" data-type="7">
                <li>
                    <img src="/img/service.jpg" alt="" style="width: 100%;">
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer container-full" id="footer"></div>
<script src="/js/plugin/jquery-2.2.4.min.js"></script>
<script src="/js/plugin/template-web.js"></script>
<script src="/js/plugin/layer/layer.js"></script>
<script src="/js/src/common.js?v=2.0.1"></script>
<script>
    $(function () {
        $("#menu").on("click", "a", function () {
            var $this = $(this);
            var type = $this.attr("data-type");
            $("#menu a.active").removeClass("active");
            $this.addClass("active");

            $("#content .list[data-type='" + type + "']")
                .removeClass("hide")
                .siblings().addClass("hide");
        });

        var type = getUrlParam("type");
        if (type) {
            $("#menu a[data-type='" + type + "']").trigger("click");
        }
    });
</script>
</body>
</html>
