<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>确认订单</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/font/iconfont.css">
    <link rel="stylesheet" href="/js/plugin/layer/theme/default/layer.css">
    <link rel="stylesheet" href="/css/build/index.css?v=2.0.1">
    <link rel="stylesheet" href="../../css/build/order.css">
</head>
<body style="background: #f7f7f7;">
<!--header-->
<div class="header clearfix" id="header"></div>
<div class="container order-success" style="margin-bottom: 180px;">
    <div class="title">
        <i class="iconfont icon-icon1"></i>
        <div class="content">
            <h2>付款成功！</h2>
            <p>仓库会尽快为您备货</p>
        </div>
    </div>
    <div class="info">
        <ul>
            <li>
                <span>订单号：</span>
                <span class="font-org" id="orderNumber">87654345679876</span>
            </li>
            <li>
                <span>收货信息：</span>
                <span id="address">小丸子  132****9876  山东省 济南市 历下区 丁豪广场</span>
            </li>
            <li>
                <span>商品名称： </span>
                <span id="goods-name">Life来福魔方智能快递盒</span>
            </li>
        </ul>
    </div>
</div>
<div class="footer container-full" id="footer"></div>
<script src="/js/plugin/jquery-2.2.4.min.js"></script>
<script src="/js/plugin/template-web.js"></script>
<script src="/js/plugin/layer/layer.js"></script>
<script src="/js/src/common.js?v=2.0.1"></script>
<script>
    $(function () {
        var orderNumber = getUrlParam("orderNumber");
        $("#orderNumber").text(orderNumber);

        // 查询订单信息
        ajax({
            url: " /user/" + GLOBAL.VERSION + "/trade/getOrderInfo",
            type: "get",
            data: {
                orderNumber: getUrlParam("orderNumber")
            },
            success: function (res) {
                if (res.success && res.data) {
                    var info = res.data.userName
                        + " "
                        + mobilehide(res.data.userMobile)
                        + " "
                        + res.data.province
                        + " "
                        + res.data.city
                        + " "
                        + res.data.dstrict
                        + " "
                        + res.data.address;
                    $("#address").text(info.length > 50 ? info.substring(0, 50) : info);
                    $("#goods-name").text(res.data.goodsName);
                }
            }
        });
    });
</script>
</body>
</html>
