<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="来福魔方,房生活，家庭智能快递柜,电子猫眼快递柜,快递收发柜,智能快递签收箱">
    <meta name="description" content="来福魔方家庭智能快递柜隶属于山东房生活信息科技有限公司，来福魔方集收发快递与电子猫眼于一体，为解决亿万家庭收发快递及家庭安全而生。">
    <link rel="stylesheet" href="/font/iconfont.css">
    <link rel="stylesheet" href="/js/plugin/layer/theme/default/layer.css">
    <link rel="stylesheet" href="/css/build/index.css?v=2.0.1">
    <link rel="stylesheet" href="../../css/build/order.css">
</head>
<body>
<!--header-->
<div class="header clearfix" id="header"></div>
<div class="container product">
    <div class="product-preview">
        <img src="../../img/order/product.jpg" alt="">
    </div>
    <div class="product-info">
        <h1>Life来福魔方智能快递收发柜</h1>
        <p class="detail">
            <span class="font-org">限时秒杀</span>
            全球首款 快递收发 / 电子猫眼 / 远程开锁 / 安全侦测 / 双线通讯 / 移动软件
        </p>
        <div class="price">
            1699元<del>1999元</del>
        </div>
    </div>
</div>
<div class="footer container-full" id="footer"></div>
<script src="/js/plugin/jquery-2.2.4.min.js"></script>
<script src="/js/plugin/template-web.js"></script>
<script src="/js/plugin/layer/layer.js"></script>
<script src="/js/src/common.js?v=2.0.1"></script>
</body>
</html>
